body {
        margin: 0 auto;
}



/* web */
ul {
        list-style-type: none;
        display: flex;
        gap: 24px;
        font-family: inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: -0.28px;
        width: 100%;
        height: 44px;
        background-color: rgba(245, 245, 247, 0.8);
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
}

a {
        text-decoration: none;
        color: #000000;

}

.logo {
        display: flex;
        justify-content: center;

}

.menu-icon {
        display: flex;
        justify-content: center;
        gap: 24px;
}

.menu-button {
        display: none;
}

.donating {
        font-family: inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 1);
        padding: 16px 0;
        box-sizing: border-box;
        justify-content: center;
        margin: 0 auto;
}

main {
        background-image: url(images/Background.png);
        width: 100%;
        height: 692px;
        background-size: cover;
        background-position: center;
}

.text {
        font-family: inter;
        font-size: 52px;
        line-height: 60px;
        font-weight: 600;
        letter-spacing: -0.28px;
        color: #f5f5f7;
}

.sub-text {
        font-family: inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #f5f5f7;
        margin-top: 16px;
        margin-bottom: 20px;
}

.content-1 {
        text-align: center;
        padding-top: 55px;
        box-sizing: border-box;
}

.content-2 {
        text-align: center;
        padding-top: 55px;
        box-sizing: border-box;
}

.learn-more {
        width: 123px;
        height: 44px;
        border-radius: 999px;
        background-color: #0071e3;
        padding: 12px 20px;
        gap: 10px;
        border: 0;
        color: #ffffff;
        font-family: inter;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.37px;
        font-weight: 400;
        margin-right: 16px;
}

.buy {
        width: 68px;
        height: 44px;
        border-radius: 999px;
        border: 1px solid #2997ff;
        padding: 12px 20px;
        gap: 10px;
        background-color: transparent;
        color: #2997ff;
        font-family: inter;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.37px;
        font-weight: 400;
}

.background-2 {
        background-image: url(images/background-2.png);
        width: 100%;
        background-size: cover;
        background-position: center;        
        height: 692px;
        margin-top: 12px;
}

.button-1 {
        width: 123px;
        height: 44px;
        border-radius: 999px;
        background-color: #ffffff;
        gap: 10px;
        border: 1px solid #ffffff;
        color: #000000;
        font-family: inter;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.37px;
        font-weight: 400;
        margin-right: 16px;
}

.button-2 {
        width: 68px;
        height: 44px;
        border-radius: 999px;
        border: 1px solid #ffffff;
        padding: 12px 20px;
        gap: 10px;
        background-color: transparent;
        color: #ffffff;
        font-family: inter;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.37px;
        font-weight: 400;
}

.background-3 {
        background-image: url(images/Figure.png);
        width: 100%;
        height: 692px;
        background-size: cover;
        background-position: center;  
        margin-top: 12px;
}

.content-3 {
        text-align: center;
        padding-top: 446px;
}

.content-text {
        font-family: inter;
        font-size: 52px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: -0.28px;
        color: #000000;
        margin-bottom: 12px;
}

.content-sub-text {
        font-family: inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #000000;
        margin-bottom: 16px;
}

.shop-button {
        font-size: inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.37px;
        color: #ffffff;
        width: 114px;
        height: 44px;
        border-radius: 999px;
        padding: 12px 20px;
        background-color: #0071e3;
        border: 0;
}

.square-products {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin: 12px 12px;
}

.square-bg {
        height: 580px;
        width: calc(50% - 6px);
        background-size: cover;
        background-position: center;
}

      .square-bg:nth-child(1) {
        background-image: url(images/ipadair.png);
      }
      .square-bg:nth-child(2) {
        background-image: url(images/airpods.png);
      }
      .square-bg:nth-child(3) {
        background-image: url(images/watch.png);
      }
            .square-bg:nth-child(4) {
        background-image: url(images/macbook.png);
      }
            .square-bg:nth-child(5) {
        background-image: url(images/small-business.png);
      }
            .square-bg:nth-child(6) {
        background-image: url(images/carrier-deals.png);
      }
            .square-bg:nth-child(7) {
        background-image: url(images/tradein.png);
      }
            .square-bg:nth-child(8) {
        background-image: url(images/card.png);
      }

      .row-1-1 {
        padding-top: 58px;
        box-sizing: border-box;
        text-align: center;
      }

      .ipadairtext {
        margin-top: 9px;
        margin-bottom: 20px;
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #1d1d1f;
      }

      .gradient {
        font-family: inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        background-image: linear-gradient(#0090f7, #ba62fc, #f2416b, #f55600);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 324px;
      }

      .button-learn {
        width: 115px;
        height: 40px;
        border-radius: 999px;
        padding: 10px 16px;
        background-color: #0071e3;
        border: 0;
        color: #ffffff;
        font-family: inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.37px;
      }

      .button-buy {
        width: 68px;
        height: 40px;
        border-radius: 999px;
        border: 1px solid #2997ff;
        padding: 10px 20px;
        background-color: transparent;
        color: #2997ff;
        margin-left: 16px;
        font-family: inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.37px;
      }

      .row-1-2 {
        box-sizing: border-box;
        text-align: center;
      }

      .airpods-heading {
        font-family: inter;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        color: #f5f5f7;
        margin-top: 401px;
      }

      .airpods-text {
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #f5f5f7;
        margin-top: 2px;
        margin-bottom: 10px;
      }

      .row-2-1 {
        padding-top: 58px;
        box-sizing: border-box;
        text-align: center;
      }

      .watch {
        display: flex;
        gap: 8px;
        justify-content: center;
      }

      .applelogo {
        width: 26.35px;
        height: 32px;
      }

      .watch-heading {
        font-family: inter;
        font-size: 32px;
        font-weight: 700;
        color: #000000;
      }

      .watch-text {
        font-family: inter;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 700;
        color: #000000;
        margin: 4px 0;
      }

      .watch-text2 {
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #1d1d1f;
        margin-bottom: 16px;
      }

      .row-2-2 {
        padding-top: 48px;
        box-sizing: border-box;
        text-align: center;
      } 

      .macbook-heading {
        font-family: inter;
        font-size: 36px;
        line-height: 44px;
        font-weight: 600;
        color: #1d1d1f;
        margin-bottom: 2px;
      }

      .macbook-text {
        font-family: inter;
        font-size: 18px;
        line-height: 25px;
        color: #1d1d1f;
        font-weight: 400;
        margin-bottom: 10px;
      }

      .square-bg:nth-child(5) {
        display: none;
      }

      .row-add-1 {
        padding: 0 55px;
        padding-top: 42px;
        text-align: center;
      }

      .small-business-heading {
        font-family: inter;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        color: #1D1D1F;
      }

      .small-business-text {
        margin-top: 4px;
        margin-bottom: 16px;
        color: #1D1D1F;
        font-family: inter;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
      }

      .square-bg:nth-child(6) {
        display: none;
      }

      .row-add-2 {
        padding: 0 26px;
        padding-top: 296px;
        text-align: center;
      }

      .carrier-deals-heading {
        font-family: inter;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        color: #1D1D1F;
      }

      .carrier-deals-text {
        margin-top: 4px;
        margin-bottom: 16px;
        color: #1D1D1F;
        font-family: inter;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
      }

      .button-carrier-deals {
        height: 36px;
        border-radius: 999px;
        background-color: #0071E3;
        padding: 8px 16px;
        font-family: inter; 
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        border: 0;
        color: #FFFFFF;
      }

      .row-3-1 {
        padding-top: 58.42px;
        box-sizing: border-box;
        text-align: center;
      }

      .tradein {
        display: flex;
        gap: 7px;
        justify-content: center;
      }

      .tradein-heading {
        font-family: inter;
        font-size: 32px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 4px;
      }

      .tradein-text {
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #1d1d1f;
        margin-bottom: 16px;
        margin-top: 4px;
      }

      .button-tradein {
        width: 167px;
        height: 40px;
        border-radius: 999px;
        border: 0;
        background-color: #0071E3;
        padding: 10px 16px;
        color: #FFFFFF;
        font-family: inter;
        font-size: 16px;
        line-height: 20px;
      }

      .row-3-2 {
        padding-top: 58px;
        box-sizing: border-box;
        text-align: center;
      }

      .card {
        display: flex;
        gap: 8px;
        justify-content: center;
      }

      .card-heading {
        font-family: inter;
        font-size: 32px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 4px;
      }

      .card-text {
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #1d1d1f;
        margin-bottom: 16px;
      }

      .button-apply {
        width: 112px;
        height: 40px;
        border: 1px solid #0071E3;
        border-radius: 999px;
        font-family: inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #0071E3;
        margin-left: 16px;
      }







/* tablet */
@media (max-width: 768px){
    li {
        display: none;
    }
    ul {
        justify-content: space-between;
        padding-left: 16px;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-button {
        display: block;
        display: flex;
        margin-right: 0;
    }
    .search-button {
        margin-right: 10px;
    }
    .menu-icon {
        gap: 10px;
    }
    .donating {
        padding: 12px 0;
    }
    main {
        width: 100%;
        height: 650px;
    }
    .text {
        font-family: inter;
        font-size: 42px;
        line-height: 60px;
        font-weight: 600;
        letter-spacing: 0;
        color: #f5f5f7;
    }
    .sub-text {
        font-family: inter;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        color: #f5f5f7;
        margin-top: 16px;
        margin-bottom: 20px;
    }
    .content {
        text-align: center;
        padding-top: 58px;
        box-sizing: border-box;
    }
    .background-2 {
        width: 100%;
        height: 650px;
    }
    .background-3 {
        display: none;
    }
    .square-products {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        margin: 12px 12px;    
    }
    .square-bg {
        width: calc(50% - 6px);
        height: 490px;
        background-size: cover;
        background-position: center;
    }
    .square-bg:nth-child(1) {
      width: 100%;
      height: 650px;
    }
    .ipadairtext {
      line-height: 32px;
      font-size: 22px;
    }
    .gradient {
      margin-top: 367px;
    }
    .square-bg:nth-child(2) {
      background-image: url(images/airpods-mobile.png);
    }
        .square-bg:nth-child(3) {
      background-image: url(images/watch-mobile.png);
    }
        .square-bg:nth-child(5) {
      display: block;
    }    .square-bg:nth-child(6) {
      display: block;
    }
        .square-bg:nth-child(8) {
          display: none;
        }
    .airpods-heading {
        font-family: inter;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: #f5f5f7;
        margin-top: 284px;
    }
    .airpods-text {
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        color: #f5f5f7;
        margin-top: 4px;
        margin-bottom: 16px;
     }
    .button-learn {
        height: 36px;
        border-radius: 999px;
        padding: 8px 16px;
        background-color: #0071e3;
        border: 0;
        color: #ffffff;
        font-family: inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
    }

    .button-buy {
        width: 66px;
        height: 36px;
        border-radius: 999px;
        border: 1px solid #2997ff;
        padding: 8px 20px;
        background-color: transparent;
        color: #2997ff;
        margin-left: 16px;
        font-family: inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
    }

    .row-3-1 {
        padding: 0 40px;
        padding-top: 46px;
        text-align: center;
    }
    .applelogo {
        width: 22px;
        height: 27px;
    }
    .tradein-heading {
        font-family: inter;
        font-size: 28px;
        font-weight: 700;
        line-height: 100%;

    }

    .tradein-text {
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;

    }

    .button-tradein {
        width: 150px;
        height: 36px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 400;
    }
}




/* mobile */
@media (max-width: 390px) {
    main {
        background-image: url(images/background-mobile.png);
        width: 100%;
        height: 500px;
    }
    .donating {
      padding: 0 31px;
    }
    .text {
        font-family: inter;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        letter-spacing: 0;
        color: #f5f5f7;
    }
    .sub-text {
        font-family: inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        color: #f5f5f7;
        margin-top: 4px;
        margin-bottom: 16px;
    }
    .content-1 {
        text-align: center;
        padding-top: 350px;
        box-sizing: border-box;
    }
    .learn-more {
        height: 36px;
        border-radius: 999px;
        background-color: #0071e3;
        padding: 8px 16px;
        border: 0;
        color: #ffffff;
        font-family: inter;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        font-weight: 400;
    }

    .buy {
        width: 66px;
        height: 36px;
        border-radius: 999px;
        border: 1px solid #2997ff;
        padding: 8px 20px;
        gap: 10px;
        background-color: transparent;
        color: #2997ff;
        font-family: inter;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        font-weight: 400;
    }
    .background-2 {
        background-image: url(images/background2-mobile.png);
    }
    .content-2 {
        text-align: center;
        padding-top: 36px;
        box-sizing: border-box;
    }
    .button-1 {
        width: 107px;
        height: 36px;
        border-radius: 999px;
        background-color: #ffffff;
        gap: 10px;
        border: 1px solid #ffffff;
        color: #000000;
        font-family: inter;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
        font-weight: 400;
        margin-right: 16px;
      } 
      .button-2 {
        width: 68px;
        height: 44px;
        border-radius: 999px;
        border: 1px solid #ffffff;
        padding: 12px 20px;
        gap: 10px;
        background-color: transparent;
        color: #ffffff;
        font-family: inter;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.37px;
        font-weight: 400;
      }
      .square-products {
        margin: 12px 0;
      }
      .square-bg {
        width: 100%;
      }
}


